h4{
    color: rgb(170, 167, 167);
}
#secondslide{
    display: flex;
    align-self: auto;


}
body{
    background-image: url("/images/back_uncomment.JPG");
}
h1, h3{
    color: whitesmoke;
    background-color: black;
    border-radius: 30px;

}
#hobbies{
    background-color: black;
    border-radius: 30px;
}
