h1 {
    text-align: center;
    background-color: moccasin;
}

.cardstack {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    min-width: 200px;
    flex-wrap: wrap;
    
}

.card-text {
    min-width: 100px;
}

.about-me {
    box-sizing: border-box;
    margin: 5px;
    border: midnightblue solid 1px;
    text-align: center;
    background-color: moccasin;
}

.profile {
    display: flex;
    /* box-sizing: border-box; */
    padding: 10px;
    margin: 2px;

}
img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 30px;
    padding: 5px;
}
article {
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    background-color:moccasin;
    text-align: center;
    border-radius: 5%;

}

.bio_text {
    display: flex;
    max-width: 30%;
    justify-content: center;
    
}

.nav-item:hover {
    font-size: large;
    
}

/* .bottom {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-content: center;
} */

.article {
    min-width: 500px;
    min-height: 500px;
}
section {
    max-width: 300px;
    max-height: 500px;
    box-sizing: border-box;
    padding: 10px;
}
h3 {
    text-align: left;
}

.card-body {
    min-width: 100px;
}

.card-img-top {
    min-width: 100px;
}

.card {
    background-color: moccasin;
}

body {
    background-image: url(/images/background.jpg);
    background-size: contain;
}

