/* h4{
    color: rgb(156, 153, 153);
}
#secondslide{
    display: flex;
    align-self: auto;


}
body{
    background-image: url("/images/back_uncomment.JPG") !important;
}
h1, h3{
    color: whitesmoke !important;
    border-radius: 30px;

}
#hobbies{
    background-color: black;
    border-radius: 30px;
} */
#foot {
  background-color: #662c0a;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#git-txt {
  font-family: 'Arima Madurai', cursive;
  font-size: 3em;
}
#linkd {
  font-family: 'Assistant', sans-serif;
  font-size: 3em;
}
.github-widget {
  background: black;
  border-color: black !important;
  border-radius: 20px;

}
#intro-box {
  background-color: #532306 !important;
  padding: 0;
  margin: 0 auto;
  border-radius: 15px;
  text-decoration: none !important;
}
a{
      color: beige !important;
    }
#intro {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.main-body {
    background-color: #8C3B0D;
  }
#project-body{
    /* background-color: #7c350c; */
    background: linear-gradient(#8C3B0D,#7c350c) ;
    margin: 0 ;
}
.pass-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
  }
html {
    scroll-behavior: smooth !important;
  }
#passi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5;
  }
#climb {
    font-family: 'Rock Salt', cursive;
  }
#moog {
    font-family: 'Dela Gothic One', cursive;
  }
#rose {
    font-family: 'Great Vibes', cursive;
  }
#poke {
    font-family: 'Satisfy', cursive;
}
#intro-para {
    font-family: 'Bangers', cursive;
    font-size: 1em;
  }
#imgs {
    border-radius: 8px;
    box-shadow: 0 0 18px black;
  }