/* colors */
:root {
    --text-color: #AEAEB2
}

/* navigation */
.navigation{
    z-index: 1;
    position: fixed;
}
.navigation > p{
    font-size: 1rem;
}
.text{
    color: var(--text-color);
    font-size: 2rem;
    width: 25vw;
    text-align: center;
    font-family: 'Handlee', cursive;

}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(24, 24, 24);
}

img {
    width: 40%;
    max-height: auto;
    border-radius: 5%;
}

.container {
    size: 30%;

}

.icons {
    display: flex;
    flex: 1 0 auto;
    max-width: 100vw;
    justify-content: space-evenly;
}

.icons>* {
    border: 1rem solid whitesmoke;
    background-color: rgb(226, 226, 227);
}

section>* {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

}

ul>* {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
}

.about,
.my-links,
.languages {
    max-width: 30vw;
    flex: 0 1 20%;

}

h2 {
    text-align: center;
    color: var(--text-color);
    font-family: 'Handlee', cursive;
}

.images {
    display: flex;
    flex-wrap: wrap;

}
img {
    border-radius: 5%;
    box-shadow: 0px 0px 8px 0px #000000;
}
.images>* {
    margin: 1px;
    margin-bottom: 5px;
}
header{
    display: flex;
    flex: 2 1 auto;
    justify-content: end;
    text-align: center;
    
}
.links{
    text-decoration: none;
    color: var(--text-color);
    margin: auto;
    margin-right: 2px;
}

h1{
    text-align: center;
    color: #AEAEB2;
    font-family: 'Dancing Script', cursive;
}
/* projects */
.projects{
    color: var(--text-color);
    
}
.projects > div:nth-child(2n){
    flex-flow: row-reverse;
}
.project{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.project > img{
    width: 40vw;
    max-height: auto;
    border-radius: 5%;
}
.info {
    max-width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info > ul{
    display: flex !important;
    justify-content: space-evenly;
    font-family: 'DM Serif Display', serif;
    flex-direction: column;
}
.info > p{
    text-align: center;
    font-family: 'Handlee', cursive;
}
.tech{
    text-align: center;
}
footer {
    color: var(--text-color);
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 1.5rem;
}
footer > ul {
    display: flex;
    justify-content: space-evenly;
    
}
ul > p > li {
    text-decoration: none !important;
}
.mail{
    text-decoration: none;
    color: var(--text-color);
}

/* google Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
